picture {
	display: block;
	float: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

picture img {
	max-width: 100%;
}

section {
	display: grid;
}

.staff {
  grid-row-start: 1;
}

.goalkeepers {
  grid-row-start: 2;
}

.defensers {
  grid-row-start: 3;
}

.middles {
  grid-row-start: 4;
}

.strikers {
 grid-row-start: 5;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: #729672;
	color: #eee;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

footer {
	display: flex;
	clear: both;
	justify-content: space-around;
	background-color: #729672;
	color: #eee;
	font-family: arial, sans-serif;
}

nav > div, footer > div {
	padding: 10px;
  	flex: 1 1 auto;
  	text-align: center;
  	border: 2px solid #fff;
  	transition: 0.5s;
}

nav > div:hover {
	background-color: #967296;
	flex: 2 2 auto;
	transition: 0.5s;
}

/* MEDIA QUERIES */

@media all and (max-width: 640px) {

nav, footer {
	flex-direction: column;
}

}